@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=IM+Fell+French+Canon:ital@0;1&display=swap");

html {
  height: 100vh;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.nav-gray {
  color: #7d7f88;
}

.violet-button {
  background: linear-gradient(135.53deg, #917afd 2.61%, #6246ea 96.58%);
  color: white;
}

/* Botón de Sign Up */
.white-button {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #e3e3e7, #e3e3e7);
  border: solid 1px #e3e3e7;
}

.arrow {
  font-family: "Advent Pro", sans-serif;
}
